.hobbies {
    margin:  110px;
}

.hobbies__title {
    text-align: center;
    margin: 2% 0;
}

.hobbies__line {
    display: flex;
    gap: 1%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobbies__box {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: end;
    box-shadow: 0 0 10px #ccc;

}

.hobbies__img img {
    width: 25%;
    filter: brightness(0) saturate(100%) invert(54%) sepia(50%) saturate(389%) hue-rotate(70deg) brightness(100%) contrast(91%);
}

.hobbies__title{
    font-size: 180%;
}